<form action="#" method="post" class="validate" id="subscribe">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <input name="email" class="form-control" placeholder="Your Email" id="email" required="" data-validation-required-message="Please enter your email address.">
        <p class="help-block text-danger"></p>
      </div>
      
    </div>      
    <div class="clearfix"></div>
    <div class="col-lg-12 text-center">
      <div id="success"></div>
      <button type="submit" class="btn btn-xl">tell me when flow launches</button>
    </div>
  </div>
</form>
